.container-contact{
    position: absolute;
    top: 25%;
    margin: 0 60px;
}

.container-contact-light{
    position: absolute;
    top: 25%;
    margin: 0 60px;
}

.container-contact form{
    margin-top: 80px;
    display: flex;
    gap: 80px;
    width: 80vw;
    height: 30vh;
}

.container-contact-light form{
    margin-top: 80px;
    display: flex;
    gap: 80px;
    width: 80vw;
    height: 30vh;
}

.container-name-email{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-contact form textarea{
    background-color: transparent;
    border: none;
    border-bottom: solid 0.5px #F1F1F1;
    color: #F1F1F1;
    font-size: 20px;
    outline: none;
    resize: none;
    font-family: Poppins;
    width: 30vw;
}

.container-contact form input:not(.button-form){
    background-color: transparent;
    border: none;
    border-bottom: solid 0.5px #F1F1F1;
    color: #F1F1F1;
    font-size: 20px;
    outline: none;
    resize: none;
    font-family: Poppins;
    width: 30vw;
}

.container-contact-light form textarea{
    background-color: transparent;
    border: none;
    border-bottom: solid 0.5px #1E1E1E;
    color: #1E1E1E;
    font-size: 20px;
    outline: none;
    resize: none;
    font-family: Poppins;
    width: 30vw;
}


.container-contact-light form input:not(.button-form){
    background-color: transparent;
    border: none;
    border-bottom: solid 0.5px #1E1E1E;
    color: #1E1E1E;
    font-size: 20px;
    outline: none;
    resize: none;
    font-family: Poppins;
    width: 30vw;
}

.container-contact form textarea{
    border-left: solid 0.5px #F1F1F1;
    padding-left: 15px;
}

.container-contact-light form textarea{
    border-left: solid 0.5px #1E1E1E;
    padding-left: 15px;
}

.container-contact form textarea::-webkit-scrollbar {
    width: 12px; /* width of the entire scrollbar */
}
  
.container-contact form textarea::-webkit-scrollbar-track {
    background: #F1F1F1; /* color of the tracking area */
    border-radius: 25px;
}
  
.container-contact form textarea::-webkit-scrollbar-thumb {
    background-color: #1E1E1E; /* color of the scroll thumb */
    border:solid #F1F1F1;
    border-radius: 25px;
}

textarea::placeholder{
    font-family: Poppins;
}

.button-form{
    background-image: url();
    border: solid #1E1E1E;
    font-size: 25px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    cursor: pointer;
    transition: all 0.5s ease;
    margin: auto 0;
}

.button-form:hover{
    color: #F1F1F1;
    background-color: #1E1E1E;
    border: solid #F1F1F1;
}

.container-contact .modal-contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #F1F1F1;
    padding: 30px;
}

.modal-contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #F1F1F1;
    padding: 30px;
}

.modal-contact-light{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #1E1E1E;
    padding: 30px;
}

.modal-contact h4{
    padding-bottom: 30px;
    font-family: Poppins;
    color: #1E1E1E;
}

.modal-contact-light h4{
    padding-bottom: 30px;
    font-family: Poppins;
    color: #F1F1F1;
}

.modal-contact p{
    cursor: pointer;
    font-family: Poppins;
    color: #1E1E1E;
}

.modal-contact-light p{
    cursor: pointer;
    font-family: Poppins;
    color: #F1F1F1;
}

.container-contact-light ::placeholder{
    color: #1E1E1E;
}

.container-contact ::placeholder{
    color: #F1F1F1;
}

.red-placeholder::placeholder {
    color: red;
}
