header{
    position: relative;
    width: 100vw;
    height: 15vh;
    /* background-color: #f1f1f1; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Poppins;
}

header nav a{
    position: relative;
    text-decoration: none;
    padding-right: 30px;
    margin-left: 60px;
    color: #1E1E1E;
}

header nav a::before{
    content: '';
    position: absolute;
    right: 30px;
    top: calc(100% + 8px);
    width: 0;
    height: 2px;
    background-color: #1E1E1E;
    transition: all 0.5s ease;
}

/* header nav a::after{
    content: '';
    position: absolute;
    right: 30px;
    top: calc(100% + 8px);
    width: 0;
    height: 2px;
    background-color: #1E1E1E;
    transition: all 0.5s ease;
} */

header nav a:hover::before{
    content: '';
    position: absolute;
    left: 0;
    top: calc(100% + 8px);
    width: calc(100% - 30px);
    height: 2px;
    background-color: #1E1E1E;
}

/* header nav a:hover::after{
    content: '';
    position: absolute;
    right: 30px;
    top: calc(100% + 8px);
    width: calc(100% - 30px);
    height: 2px;
    background-color: #1E1E1E;
} */

header .moon{
    width: 40px;
    margin-right: 60px;
    cursor: pointer;
}

header .moon:hover{
   fill: #1E1E1E;
}

header .bg{
    height: 170px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.selected::before{
    content: '';
    position: absolute;
    left: 0;
    top: calc(100% + 8px);
    width: calc(100% - 30px);
    height: 2px;
    background-color: #1E1E1E;
}
