body{
    overflow-y: scroll;
}

.container-realisation{
    position: absolute;
    top: 25%;
    width: 100vw;
}

.container-realisation.dark{
    background-color: #1E1E1E;
}

.container-realisation.light{
    background-color: #f1f1f1;
}

.container-realisation h1{
    position: relative;
    left: 60px;
    z-index: 10000;
}

.container-projets{
    width: calc(100vw - 120px);
    display: flex;
    gap: 60px;
    margin: 0 auto;
    margin-top: 80px;
    flex-wrap: wrap;
    height: auto;
}

.container-realisation a{
    width: calc(50% - 100px);
    height: 350px;
    margin: 0 auto;
    position: relative;
    font-family: Poppins;
    border-radius: 25px;
    margin-top: 10px;
    margin-bottom: 30px;
}

@media screen and (max-width:1440px){
    .container-realisation a{
        width: calc(50% - 100px);
        height: 300px;
        margin: 0 auto;
        position: relative;
        font-family: Poppins;
        border-radius: 25px;
        margin-top: 10px;
        margin-bottom: 30px;
    }
}

@media screen and (max-width:1024px){
    .container-realisation a{
        width: calc(50% - 30px);
        height: 250px;
        margin: 0 auto;
        position: relative;
        font-family: Poppins;
        border-radius: 25px;
        margin-top: 10px;
        margin-bottom: 30px;
    }

    .container-projets{
        width: calc(100vw - 120px);
        display: flex;
        row-gap: 20px;
        margin: 0 auto;
        margin-top: 80px;
        flex-wrap: wrap;
        height: auto;
    }
}

@media screen and (max-width:768px){

    .container-realisation{
        position: absolute;
        top: 15%;
        width: 100vw;
    }

    .container-realisation a{
        width: 80%;
        height: 250px;
        margin: 0 auto;
        position: relative;
        font-family: Poppins;
        border-radius: 25px;
        margin-top: 10px;
        margin-bottom: 30px;
    }
}

@media screen and (max-width:425px){

    .container-realisation h1{
        z-index: 10000;
        text-align: center;
        left: 30px;
        font-size: 45px;
    }

    .container-projets{
        width: 90vw;
        display: flex;
        gap: 10px;
        margin: 0 auto;
        margin-top: 80px;
        flex-wrap: wrap;
        height: auto;
    }

    .container-realisation a{
        width: 100%;
        height: 220px;
        margin: 0 auto;
        position: relative;
        font-family: Poppins;
        border-radius: 15px;
        margin-top: 10px;
        margin-bottom: 30px;
    }
}