body{
    overflow-y: scroll;
}

.container-realisation{
    position: absolute;
    top: 25%;
    left: 60px;
}

.container-projets{
    width: calc(100vw - 120px);
    display: flex;
    gap: 60px;
    margin-top: 80px;
    margin-right: 60px;
    flex-wrap: wrap;
    height: auto;
}

::-webkit-scrollbar {
    width: 12px; /* width of the entire scrollbar */
    display: none;
}
  
::-webkit-scrollbar-track {
    background: #D9D9D9; /* color of the tracking area */
    border-radius: 25px;
}
  
::-webkit-scrollbar-thumb {
    background-color: #1E1E1E; /* color of the scroll thumb */
    border:solid #D9D9D9;
    border-radius: 25px;
}

.container-realisation a{
    width: calc(50% - 100px);
    height: 300px;
    margin: 0 auto;
    position: relative;
    font-family: Poppins;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 5px 5px 15px #000000;
    margin-top: 10px;
    margin-bottom: 30px;
}